.container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .image{
    width: 100%; /* Set the width of the image to 100% */
    max-width: 1400px;
    height: auto; /* Maintain the aspect ratio */
    padding-left: 20px;
  }
  .context {
    font-size: 20px;
    margin-top: -40%;
    margin-left: 22%;
    margin-bottom: 30%;
    line-height: 2;
  }
 .body{
  width: 50%;
  padding-right: 600px;
  margin-top: -15%;
 }
 .image-description {
  margin-top: -18%;
  margin-left: 55%;
  margin-bottom: 20%;
  list-style-type: none;
}
.image-description li {
  margin-bottom: 10px; 
  font-size: 25px;
}