
.Navbar {
    padding: 50px;
    text-decoration: none; /* Remove underline */
    color: black;
  }

  .header {
    width: 100%; /* Occupy the full width of the viewport */
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    background-color: antiquewhite;
    height: 70px;
  }


  .button-like {
    display: inline-block; 
    padding: 10px 20px; 
    background-color: antiquewhite; 
    color: rgb(18, 17, 17); 
    border-radius: 5px; 
    text-align: center; 
    cursor: pointer; 
    text-decoration: none;
    font-size: 16px; 
    transition: background-color 0.3s ease; 
  }
  
  .button-like:hover {
    background-color: #9acee19b; 
  }
  


